@mixin outerContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

@mixin innerContainer {
  max-width: 720px;
}

@mixin flexCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenteredVertical {
  display: flex;
  align-items: center;
}
