@import '../../styles/common.scss';

.banner {
  position: relative;
  height: 600px;
}

.postWrapper {
  @include outerContainer;
}

.postContainer {
  @include innerContainer;
  margin: 5rem auto;
}

.postHeading {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
  }

  & > div {
    @include flexCenteredVertical;

    & > div {
      margin-top: 1.5625rem;
    }
  }
}

.editedTime {
  display: block;

  margin-top: 1rem;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--info-text-color);
}

.postBody {
  text-align: justify;

  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.575rem;
  color: var(--body-text-color);

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 4rem 0;
  }

  p,
  li {
    margin: 2rem 0;
  }

  ul {
    list-style: inside;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}
